.wrapping-link{
  color: inherit;
}

.open-project-view-item:hover{
  color: grey;
  box-shadow: 0 0 1px gray;
  text-decoration: none;
}
.open-project-view-item{
  color: black;
}

.project-description{
  word-break: break-all;
}

.project-image{
  width:100px;
  height:100px;
}

.project-box-style{
  border: solid gray 1px;
  min-width:300px;
  min-height:300px;
  max-width:300px;
  max-height:300px;
  overflow:hidden;
}

.projects-view{
  margin:auto;
}

.honey{
  height:50px;
  width:50px;
}

.offerer-taskoffer-status{
  list-style-type: none;

}

.new-task-input{
  width: 80%;
}

.per td{
  padding:5px;
}

.per label{
  display: block;
}

.per table {
    border-collapse: collapse;
}

.per table, .per th,.per td {
    border: 1px solid black;
}

.permis{
  max-width:1000px;
}

.notification-button {
  position: relative;
  font-size:1.2rem;
  display:inline-block;
  border-radius: 100rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border:none;
}
.notification-button.btn:focus {
  outline: none!important;
  box-shadow: none!important;
}

.notification-button .badge {
    position: absolute;
    top: -2px;
    right: -7px;
    font-size: .8rem;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-radius: 50%;
    background: red;
    color: white;
}
.notification-button .badge.hidden {
    display: none;
}

.notification-panel {
    position: absolute;
    border-radius:.25rem;
    z-index:100;
    max-height:550px;
    overflow-y: auto;
    background-color: #ececece8;

}


.notification {
    position:relative;
}

.notification.viewed {
    background: #e6e6e6;
}

.notification.viewed:hover {
    background: #d8d8d8;
}


.notification-mark-as-viewed {
    z-index:200;
    font-size: 0.8rem;
}


.notification-panel .panel-wrapper {
    width:300px;
    min-height:300px;

}

.notification-panel .panel-wrapper .list-group:empty::after {
    display: block;
    content: "There are no notifications to show";
    padding: 140px 25px;
    font-style: italic;
    text-align: center;
}

.btn-circle.btn-xl {
    border-radius: 35px;
}
