<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <!-- bootstrap -->
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {% bootstrap_messages %}

        <!-- Icons -->
        {% load icons %}

        <!-- Font Awesome CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
      >

        <title>{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    </head>

    <body>
      <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand font-weight-bold ml-5 mr-3" href="{% url 'home' %}">Agreelance</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse ml-1" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link font-weight-light" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-light" href="{% url 'projects' %}">Projects</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link font-weight-light" href="{% url 'favorites' %}">Favorites</a>
        </li>
        {% endif %}


        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      -->
      </ul>
      <div class="my-2 my-lg-0 mr-5">
        {% if user.is_authenticated %}
          <span>
            <button type="button" class="btn  btn-outline-primary btn-circle notification-button mr-3" data-toggle="collapse" data-target=".notification-panel">
              <i class="fa fa-bell"></i><span class="badge hidden">0</span>
            </button>
            <div class="collapse notification-panel">
              <div class="panel-wrapper">
                <div class="list-group" id="notifications"></div>
              </div>
            </div>
            <script>

$(document).on('click', '.notification', function(e) {
  // if clicked element is the <a> inside this notification, do not run href
  if( $(e.target).is("a")) return;

  window.location = $(this).data("href");
  return false;
});

$(document).on('click', '.notification-mark-as-viewed', function(e) {
  $(e.target).parent().parent().addClass('viewed');
  updateBadgeNumber();
  $(e.target).hide(200);
  $.ajax({
    method: "GET",
    url: $(this).attr("href"),
    });
  return false;
});


var lastAjaxTime = "";

// Get all notifications at load
$.ajax({
   type: "POST",
   url: "/notification/get_all/",
   data: {
     csrfmiddlewaretoken: '{{ csrf_token }}'
   },
   dataType: 'json',
   }).done(function(data){
    lastAjaxTime = data.retrievedAt;
    $('#notifications').prepend(data.html);
    updateBadgeNumber();

    // Listen to notifications with fixed interval
    setInterval(function() {
      $.ajax({
           type: "POST",
           url: "/notification/get_all_after_date/",
           data: {
              timestamp: lastAjaxTime,
              csrfmiddlewaretoken: '{{ csrf_token }}'
           },
           dataType: 'json',
           }).done(function(data) {
            console.log(data.retrievedAt);
            console.log(data.html);
            lastAjaxTime = data.retrievedAt;
            if (data.html != ""){
              $('#notifications').prepend(data.html);
              updateBadgeNumber();
            }
         });

    }, 5000);
 });

var updateBadgeNumber = function() {
  let numOfNotifications = $('#notifications .notification').length - $('#notifications .notification.viewed').length;
  console.log("Number of notifications:" + numOfNotifications);

  // if there are some notifications, show the badge
  $('.notification-button .badge').html(numOfNotifications);
  if (numOfNotifications > 0){
    $('.notification-button .badge').removeClass('hidden');
  } else {
    $('.notification-button .badge').addClass('hidden');
  }
}

$(document).mouseup(function(e){
    var container = $(".notification-panel");
    // If the target of the click isn't the container, hide it
    if(!container.is(e.target) && container.has(e.target).length === 0){
        container.collapse('hide');
    }
});
            </script>

          </span>

        <a role="button" class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'new_project' %}">New project</a>
        <a class="btn btn-link my-2 my-sm-0" href="{% url 'logout' %}" role="button">Sign out</a>
        {% else %}
        <a role="button" class="btn btn-link my-sm-0 mr-2" href="{% url 'signup' %}">Sign up</a>
        <a role="button" class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'login' %}">Sign in</a>
        {% endif %}
      </div>
    </div>
  </nav>
      <div class="container">
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
        {% block content %}{% endblock content %}
      </div>
    </body>
</html>
