{% for notification in notifications %}<div class="notification{% if notification.viewed %} viewed{% endif %} list-group-item list-group-item-action flex-column align-items-start"
                                            data-href="{% url 'click' notification.uuid %}">
  <p class="mb-1">{{notification.description}}</p>
  <div class="d-flex">
  <small class="text-muted" style="flex-grow:1; align-self:center;">{{notification.created|date:'Y-m-d H:i'}}</small>
    {% if not notification.viewed %}
  <a href="{% url 'set_viewed' notification.uuid %}" class="notification-mark-as-viewed">Mark as viewed</a>
    {% endif %}
  </div>
</div>
{% endfor %}