
{% load icons %}
{% load static %}


{% for project in projects %}
<a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
  <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
    <div class="media">
      <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
      <div class="media-body">
        <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
        <p>Posted by: {{project.user.user.username}}</p>
        <p class="project-description">{{project.description}}</p>
      </div>
    </div>
  </div>
</a>
{% endfor %}