{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load project_extras %}

{% block title %}Projects{% endblock %}

{% block content %}
  <h2 class="mt-3 text-center" >Open Projects</h2>


  <div class="row">
    <div class="col-lg text-center">
      <div id="category-selection">
        <div class="text-center d-inline-flex list-group mt-3" id="project-toggle" role="tablist">
          <ul class="pagination">
            {% for project_category in project_categories %}
            <li class="page-item">
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                role="tab"
                id="category-{{project_category}}"
                aria-controls="{{project_category}}"
                href="#{{project_category}}">
                  {{project_category}}
              </a>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>

    <div>
      <div class="collapse mt-4 mb-3" id="advanced-search-form-container" >
        <form id="advanced-search-form" method="POST" action=".">
            <div class="form-row">
                <div class="form-group col-12">
                  <input class="form-control py-2 border" type="search" name="search" placeholder="Search..." />
                </div>
            </div>

            <style>


              .grid-container {
                  display: grid;
                  width:100%;
                  align-items: center;
                  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
              }

              .grid-container .item {
                  margin: 7px;
                  padding: 10px;
              }

              .grid-container .item.simple {
                  box-shadow: none;
              }

            </style>
            <div class="form-group" style="text-align:left;">

              <div class="grid-container">

                {% for project_category in project_categories %}
                  <div class="item"><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="filter-category-{{project_category}}" id="filter-category-{{project_category}}">
                    <label class="custom-control-label" for="filter-category-{{project_category}}">{{project_category}}</label>
                  </div></div>
                {% endfor %}
              </div>
              <hr>

              <div class="form-row d-flex justify-content-center">
                <div class="custom-control custom-checkbox m-2 mt-0">
                  <input type="checkbox" class="custom-control-input" name="sort-alpha" id="sort-alpha" checked>
                  <label class="custom-control-label" for="sort-alpha">Sort by title</label>
                </div>
                <div class="custom-control custom-checkbox m-2 mt-0">
                  <input type="checkbox" class="custom-control-input" name="reversed" id="reversed" checked>
                  <label class="custom-control-label" for="reversed">Reversed</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
      </div>
      <a id="advanced-search" href="#">Advanced search  <i class="fa fa-angle-down"></i></a>
      <script>
        $('#advanced-search').click(function(){
          $('#advanced-search-form-container').toggle("slow");
          $('#advanced-search-results-container').toggle("slow");
          $('#nav-tabContent').toggle("slow");
          $('#category-selection').toggle("slow", function(){
            if ($(this).is(":visible")) {
                 $('#advanced-search').html('Advanced search  <i class="fa fa-angle-down"></i>');
            } else {
                 $('#advanced-search').text('Back to simple filter');
            }
          });
        });

$("#advanced-search-form").submit(function(e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var url = form.attr('action');

    var formDataArray = form.serializeArray();

    // Convert to JSON
    var formData = {};
    formDataArray.forEach((e) => {formData[e.name] = e.value})

    console.log(formData)
    var b= console.log(JSON.stringify(formData))

    formData['advanced_search_form'] = ''
    formData['csrfmiddlewaretoken'] = '{{ csrf_token }}'

    $.ajax({
           type: "POST",
           url: "/projects/projects_with_filter/",

           data: formData,
           dataType: 'html',
           success: function(data)
           {
            $('#advanced-search-results').html(data);
           }
         });


});
      </script>
    </div>

      <div class="tab-content"  id="nav-tabContent">
        {% for project_category in project_categories %}
          <div class="tab-pane fade show" id="{{project_category}}" role="tabpanel" aria-labelledby="category-{{project_category}}">
            <h3 class="mb-3 mt-5">{{project_category}}</h3>
            <div class="row projects-view">
                {% for project in projects %}
                  {% if project.status == project.OPEN and project.category.id == project_category.id %}
                  <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                  <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
                    <div class="media">
                      <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
                      <div class="media-body">
                        <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                        <p>Posted by: {{project.user.user.username}}</p>
                        <p class="project-description">{{project.description}}</p>
                    </div>
                  </div>
                  </div>
                  </a>
                  {% endif %}
                {% endfor %}

            </div>

          </div>
        {% endfor %}
      </div>

      <div class="collapse" id="advanced-search-results-container">
        <hr>
        <h3 class="m-5">Results</h3>
        <div class="row projects-view" id="advanced-search-results">
        </div>

      </div>

    </div>
  </div>

  <script src="{% static 'js/tab_change.js' %}"></script>
  <script>
  document.getElementsByClassName('list-group-item-action')[0].click();
  setTimeout(function(){
    document.getElementsByClassName('list-group-item-action')[0].click();
  }, 100);
  </script>
{% endblock %}
